* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  position: relative;
  margin: 100px;
  padding: 5px 10px;
  background-color: brown;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.popover {
  position: absolute;
  border: solid darkgray 1px;
  border-radius: 10px;
  width: 100%;
}

.popover-title {
  background-color: lightgray;
  font-weight: 800px;
  border-bottom: solid 1px darkgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popover-message {
  color: black;
}

.popover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.popover::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: darkgray transparent;
  display: block;
  width: 0;
  z-index: 0;
}
